  html {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  text-align: center;
}
/* coding for borders around every object
div, nav, nav li, nav ul, .description footer {
  border: 1px solid gray;
}
*/

header, .container, nav, .hero {
  text-align: left;
}

header {
  background-color: black;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .container {
  padding: 15px 0px 15px .5em;
}

.container img, header h4 {
  display: inline-block;
  vertical-align: middle;
}
.container img {
  height: 1.5rem;
  padding-right: 1rem;
}

.container {
  max-width: 960px;
  align-items: center;
}

.container, .new-arrival {
  flex-grow: 1;
}

header h4, .new-arrival h4 {
  color: white;
  text-transform: uppercase;
  font-size: 1em;
}

.hero {
  width: 100%;
  height: 25em;
  background-image: url("../images/moto.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  display: flex;
  align-items: center;
  justify-content: center;
}

.new-arrival {
  height: 50%;
  background-color: black;
  width: 24rem;
}

.new-arrival h1 {
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  line-height: 2em;
  padding: 0rem 0rem 2rem 3rem;
  line-height: 2.25rem;
}

.new-arrival h4 {
  font-size: 1rem;
  font-weight: bold;
  padding: 2rem 0rem .25rem 3rem;
  line-height: 1em;
}

.box {
  max-width: 960px;
  flex-grow: 1;
}

nav {
  width: 100%;
  background-color: firebrick;
  height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav ul {
  display: flex;
  justify-content: center;
  max-width: 960px;
  flex-grow: 1;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
}

.container2 {
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 3rem;
}

.items {
  width: 100%;
  max-width: 960px;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.items {

}

.item {
  border: 4px solid black;
  width: 30%;
  display: flex;
}

.item-image {
  width: 13rem;
  height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-image img {
  width: 9rem;
}

.item-description {
  padding: 10px;
  background-color: black;
  color: white;
  border: 1px solid black;
}

.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 960px;
  margin-bottom: 75px;
}

.info-box {
  width: 350px;
  text-align: left;
}

.info-box h5 {
  color: white;
  background-color: black;
  padding: 20px;
  font-size: 16px;
}

.info-box p {
  padding: 18px 0px;
  font-size: 16px;
}

footer {
  background-color: black;
}

.copyright {
  width: 100%;
  max-width: 960px;
  text-align: left;
  margin-bottom: 100px;
  margin-top: 50px;
}

.copyright h5 {
  color: white;
}

/*One more time. Didn't commit*/
